@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  font-family: 'Comfortaa', cursive;
  line-height: 1.5;
}

.app {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #87d7cc;
  color: #2c888d;
  transition: all 1s ease;
}
.app_work {
  background: #ffcd3f;
}
.app_rest {
  background: #70ff56;
}

.round {
  font-size: 25px;
  color: #ff4a4a;
  margin: 0;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

h2 {
  color: #424242;
  font-size: 40px;
  text-align: center;
  margin: 0;
}

.timer {
  color: #303030;
  font-size: 180px;
  margin-bottom: 20px;
  font-family: 'Major Mono Display', monospace;
}
.buttons {
  position: relative;
}

.buttons button {
  outline: none;
  border: none;
  font-size: 24px;
  background: #424242;
  color: #dddddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  cursor: pointer;
  transition: 0.4s ease all;
  position: relative;
}

.buttons button:hover {
  background: #f5f8ca;
  color: #424242;
  box-shadow: 0px 0px 10px #f5f8ca7d;
  transform: translateY(-2px);
}

.buttons button:not(:last-child) {
  margin-right: 10px;
}
.info {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 35px;
  color: #424242;
}
.info:hover {
  color:#333333;
}

@media (max-width: 780px) {
  h2 {
    font-size: 30px;
  }

  .timer {
    font-size: 130px;
  }

  .buttons button {
    font-size: 18px;
  }
}
